.container__big-card{
  width: 1200px;
  height: 450px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.big-card__photo{
  border-radius: 30px;
}

.big-card__text{
  display: flex;
  flex-direction: column;
}

.big-card__title h1{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 40px;
}

.big-card__description {
  margin-top: 20px;
  margin-left: 20px;
}

.big-card__description > p > a{
  color: gray;
}
