.container__big-card{
  border: solid black 2px;
  margin-left: 10px;
  margin-right: 10px;
  width: 800px;
  height: 300px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.big-card__photo{
  border-radius: 30px;
}

.big-card__text{
  display: flex;
  flex-direction: column;
}

.big-card__title h1{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.big-card__description > p{
  margin-left: 10px;
  margin-top: 10px;
  color: gray;
}
