.container__small-card{
  width: 346.6px;

  display: flex;
  flex-direction: column;
}

.small-card__photo > img {
  width: 346.6px;
  min-width: 346.6px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.small-card__title{
  font-size: 10px;
}

.small-card__description > p{
  color: gray;
}
