.container__small-card{
  border: 2px solid black;
  width: 346.6px;

  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.small-card__photo > img {
  width: 346.6px;
  min-width: 346.6px;
  margin-bottom: 20px;
}

.small-card__title{
  font-size: 20px;
}

.small-card__description > p{
  color: gray;
}
