.container__articles{
  display: flex;
  flex-direction: column;
}

.articles__title{
  margin-top: 15px;
  margin-bottom: 15px;
}

.articles__main {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.articles__others{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

app-small-card {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
